# Modified by Ansible for {{ inventory_hostname }}
global
   log 127.0.0.1:514 local2
   # stats timeout 30s
   user haproxy
   group haproxy
   tune.ssl.default-dh-param 2048
   daemon
defaults
log global
mode http
option forwardfor
option http-server-close
option httplog
option dontlognull
timeout connect 5000
timeout client 50000
timeout server 50000

# SSL-terminated frontend
frontend http_front
bind *:443 ssl crt /etc/ssl/haproxy/shanesofos.com.bundle.pem
http-response add-header Strict-Transport-Security max-age=31536000
redirect scheme https if !{ ssl_fc }
default_backend http_back

# shanesofos.com Docker container Nginx HTTP backend
backend http_back
balance roundrobin
mode http
server docker-nginx 127.0.0.1:8080 check
