# Modified by Ansible for {{ inventory_hostname }}
user nginx nginx;

worker_processes 12;
worker_rlimit_nofile 64000;

error_log /var/log/nginx/error_log info;

events {
  worker_connections 16000;
  multi_accept on;
  use epoll;
}

http {
  log_format main
    '$remote_addr - $remote_user [$time_local] '
    '"$request" $status $bytes_sent '
    '"$http_referer" "$http_user_agent" '
    '"$gzip_ratio"';

  disable_symlinks if_not_owner;
  ignore_invalid_headers on;
  server_tokens off;

  keepalive_timeout 20;
  client_header_timeout 20;
  client_body_timeout 20;
  reset_timedout_connection on;
  send_timeout 20;

  sendfile on;
  tcp_nopush on;
  tcp_nodelay on;

  include /etc/nginx/mime.types;
  default_type application/octet-stream;

  gzip on;
  gzip_vary on;
  gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript text/x-js image/x-icon image/bmp;

  add_header X-Frame-Options SAMEORIGIN;
  add_header X-Content-Type-Options nosniff;
  add_header X-XSS-Protection "1; mode=block";

  include /etc/nginx/sites-enabled/*;
}
