# Modified by Ansible for {{ inventory_hostname }}
dev-libs/openssl bindist -sslv3 -tls-heartbeat
>=dev-libs/libpcre-8.39 abi_x86_32
net-misc/openssh bindist
net-proxy/haproxy prometheus-exporter tools vim-syntax
www-servers/nginx threads vim-syntax nginx_modules_http_stub_status nginx_modules_http_ssl
>=virtual/libintl-0-r2 abi_x86_32
