# Modified by Ansible for {{ inventory_hostname }}
#server {
#  listen 80 default_server;
#  listen [::]:80 default_server;
#  server_name www.shanesofos.com www.shanesofos.info www.shanesofos.net shanesofos.com shanesofos.info shanesofos.net;
#  root /usr/share/nginx/shanesofos.com/site/;
#  index index.html;

# access_log /var/log/nginx/shanesofos.com.access_log main;
#  error_log /var/log/nginx/shanesofos.com.error_log info;
#}

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  server_name www.shanesofos.com www.shanesofos.info www.shanesofos.net shanesofos.com shanesofos.info shanesofos.net;
  access_log /var/log/nginx/shanesofos.com.ssl_access_log main;
  error_log /var/log/nginx/shanesofos.com.ssl_error_log info;
  charset UTF-8;

  location / {
    root /usr/share/nginx/shanesofos.com/site/;
    index index.html;
  }
  error_page 404 /404.html;

  ssl_session_cache shared:SSL:50m;
  ssl_session_timeout 1d;
  ssl_session_tickets off;
  ssl_prefer_server_ciphers on;
  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers 'ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS';
  ssl_certificate /etc/ssl/nginx/shanesofos.com.cert.pem;
  ssl_certificate_key /etc/ssl/nginx/shanesofos.com.key.pem;

  add_header Strict-Transport-Security "max-age=31536000; includeSubdomains; preload";
}
