@version: 3.20
# Modified by Ansible for {{ inventory_hostname }}
#
# Syslog-ng default configuration file for Gentoo Linux

# https://bugs.gentoo.org/show_bug.cgi?id=426814
@include "scl.conf"

options {
        threaded(yes);
        chain_hostnames(no);

        # The default action of syslog-ng is to log a STATS line
        # to the file every 10 minutes.  That's pretty ugly after a while.
        # Change it to every 12 hours so you get a nice daily update of
        # how many messages syslog-ng missed (0).
        stats_freq(43200);
        # The default action of syslog-ng is to log a MARK line
        # to the file every 20 minutes.  That's seems high for most
        # people so turn it down to once an hour.  Set it to zero
        # if you don't want the functionality at all.
        mark_freq(3600);
};

source src { system(); internal(); };
source s_loopback { syslog(ip(127.0.0.1) port(514) transport("udp")); };

destination authlog { file("/var/log/auth.log"); };
destination cron { file("/var/log/cron.log"); };
destination daemon { file("/var/log/daemon.log"); };
destination messages { file("/var/log/messages"); };
destination user { file("/var/log/user.log"); };
destination mail { file("/var/log/mail.log"); };
destination d_haproxy_full {
  file("/var/log/haproxy/haproxy.$YEAR-$MONTH-$DAY.log"
       group(root) perm(0640) dir_perm(0750) template_escape(no)
  );
};
# destination console_all { file("/dev/tty12"); };
# ...if you intend to use /dev/console for programs like xconsole
# you can comment out the destination line above that references /dev/tty12
# and uncomment the line below.
destination console_all { file("/dev/console"); };

filter f_authpriv { facility(auth, authpriv); };
filter f_cron { facility(cron); };
filter f_daemon { facility(daemon); };
filter f_messages { level(info..warn) and not facility(auth, authpriv, cron, mail); };
filter f_mail { facility(mail); };
filter f_user { facility(user); };
filter f_haproxy { program("haproxy"); };

log { source(src); filter(f_authpriv); destination(authlog); };
log { source(src); filter(f_cron); destination(cron); };
log { source(src); filter(f_daemon); destination(daemon); };
log { source(src); filter(f_mail); destination(mail); };
log { source(src); filter(f_user); destination(user); };
log { source(src); filter(f_messages); destination(messages); };
log { source(src); destination(console_all); };
log { source(s_loopback); filter(f_haproxy); destination(d_haproxy_full); };
